.onboardContainer {
  background: #efffe2;
  padding: 20px 0px;
}
.onboardBtnBox {
  display: flex;
  justify-content: center;
}

.stepBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.stepItem {
  width: 253px;
  height: 162px;
  background: #fff;
  border-radius: 16px;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
}
.stepItemLOgo {
  background: #efffe2;
  width: 65px;
  height: 65px;
  border-radius: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 30px;
}
.stepItemLogoBox {
  /* background: #359cef; */
  width: 45px;
  height: 45px;
  border-radius: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.stepItemLogoBox img {
  width: 60%;
  height: 60%;
}
.onboardCoverItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.onboardCover {
  width: 80%;
  margin-bottom: 10px;
}
.onboardCover img {
  width: 100%;
  height: 100%;
}
.borderContainer {
  display: none;
}
@media only screen and (min-width: 600px) {
  .stepBox {
    flex-direction: row;
    justify-content: center;
  }
  .onboardCoverItem {
    flex-direction: row;
    padding: 0px 252px;
    margin-bottom: 10px;
  }
  .onboardCover {
    margin: 19px 10px;
  }
  .borderContainer {
    /* border: 1px solid rgb(128, 47, 0); */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 13px;
  }
  .borderBox {
    /* border: 1px solid green; */
    width: 31%;
    height: 35px;
    display: flex;
    flex-direction: row;
  }
  .rightTopBox {
    border-left: 3px solid #124590;
  }
  .leftBottomBox {
    border-top: 3px solid #124590;
    border-left: 3px solid #124590;
  }
  .rightBottomBox {
    border-top: 3px solid #124590;
    border-right: 3px solid #124590;
  }

  .leftBorderBox {
    /* border: 1px solid rgb(128, 115, 0); */
    width: 50%;
    height: 100%;
  }
  .rightBorderBox {
    /* border: 1px solid rgb(0, 128, 17); */
    width: 50%;
    height: 100%;
  }
  .leftSBox {
    width: 10px;
    height: 10px;
    background: #124590;
    transform: rotate(45deg);
    position: relative;
    top: 32px;
    right: 6.6px;
  }
  .rightSBox {
    width: 10px;
    height: 10px;
    background: #124590;
    transform: rotate(45deg);
    position: relative;
    top: 32px;
    left: 6.4px;
    float: right;
  }
}
