.NavGetStartBtn {
  text-align: center;
  border-radius: 23px;
  padding: 10px;
  cursor: pointer;
  transition: all 1s;
}
.redBtnText {
  color: #ffffff;
  font-weight: 500;
  font-size: 18px;
  user-select: none;
  font-family: Satoshi;
}
.NavGetStartBtn:hover {
  background-color: #ac1c1c !important;
}
.NavGetYellowStartBtn:hover {
  background-color: #d37b16 !important;
}
