.YouTubeContent {
  display: flex;
  flex-direction: row;
  overflow: scroll;
  height: 436px;
}
.videoItem {
  margin: 14px;
}
.YouTubeContent > * {
  flex: 0 0 300px;
}
.YouTubeLogo {
  position: relative;
  bottom: 220px;
  left: 126px;
}
.YouTubeCoverText {
  position: relative;
  bottom: 207px;
  text-align: center;
  color: #fff;
  z-index: 1;
}
.grayBox {
  width: 100%;
  height: 390px;
  position: relative;
  bottom: 470px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 38.1%, #000000 100%);
}
.featuresBox {
  display: flex;
  flex-direction: column;
  padding: 13px;
}
.featuresCard {
  width: 388px;
  height: 410px;
  margin-bottom: 20px;
  border-radius: 18px;
  color: #fff;
  background: #185fc6;
}
.featureItem {
  display: flex;
  flex-direction: row;
  height: 46px;
  /* border: 1px solid; */
  align-items: center;
  overflow: hidden;
}
.featureItem p {
  font-size: 15px !important;
}
.card2 {
  background: #124692;
}
.card2featureItem {
  height: 53px !important;
}

@media only screen and (min-width: 600px) {
  .YouTubeContent {
    flex-direction: row;
    overflow: unset;
    justify-content: center;
  }
  .featuresBox {
    flex-direction: row;
    padding: 13px;
    justify-content: center;
  }
  .featuresCard {
    margin: 0px 10px;
  }
  .MediaTextBox {
    padding: 20px 0px;
  }
}
