.graBox {
  width: 100%;
  height: 100vh;
  background: #80808080;
  position: fixed;
  z-index: 9999;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homeBox {
}
.cross {
  position: relative;
  left: 307px;
  bottom: 14px;
}
.contact_Box {
  border-top: 3px solid #f69400;
  width: 92%;
  height: 516px;
  display: flex;
  flex-direction: column;
  padding: 21px;
  border-radius: 15px;
  background: #ffffff;
  box-shadow: 0px 4px 44px rgba(0, 0, 0, 0.12);
}
@media only screen and (min-width: 600px) {
  .cross {
    left: 451px;
    bottom: 29px;
  }
  .contact_Box {
    border-top: 3px solid #f69400;
    width: 530px;
    height: 520px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 30px;
    border-radius: 15px;
    background: #ffffff;
    box-shadow: 0px 4px 44px rgba(0, 0, 0, 0.12);
  }
}
