.CertificateBox {
  background: rgba(190, 241, 149, 0.411);
  padding: 20px 0px;
}
.certificateMedia {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px 20px;
  max-width: 1300px;
}
.boldFont {
  text-align: center !important;
}
.certificateCompanyLogo {
  display: flex;
  flex-direction: row;
  overflow: scroll;
}
.certificateCompanyLogo > * {
  flex: 0 0 300px;
}
.CLogo {
  box-sizing: border-box;
  width: 302px;
  height: 104px;
  background: #ffffff;
  border: 1px solid #efefef;
  box-shadow: 0px 5px 30px rgba(116, 116, 116, 0.15);
  border-radius: 5px;
  margin: 0px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 19px 0px;
  cursor: pointer;
  transition: all 0.5s;
}
.CLogo:hover {
  box-shadow: 0px 3px 20px 6px rgba(116, 116, 116, 0.315);
}
.Cimage {
  width: 70px;
}
.bold__Font {
  text-align: center;
}

@media only screen and (min-width: 600px) {
  .CertificateBox {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 47px 136px;
    align-items: center;
    background: rgba(190, 241, 149, 0.411);
  }
  .certificateCards {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .certificateCard {
    width: 394px;
    height: 447px;
    display: flex;
    flex-direction: column;
    margin: 0px 17px;
    box-shadow: 0px 4px 44px rgba(0, 0, 0, 0.12);
    border-radius: 0px 0px 10px 10px;
    overflow: hidden;
  }
  .CcoverPhoto {
    width: 50%;
  }
  .certificateCompanyLogo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: unset;
  }

  .cardCoverPhoto {
    box-shadow: 0px 4px 44px rgba(0, 0, 0, 0.12);
    border-radius: 10px 10px 0px 0px;
  }
  .cardCoverPhoto img {
    box-shadow: 0px 4px 44px rgba(0, 0, 0, 0.12);
    border-radius: 10px 10px 0px 0px;
  }
  .CcardText {
    padding: 22px;
  }
  .certificateMedia {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 70px 20px;
    max-width: 1300px;
  }
  .CTextBox {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 70px;
  }
  .bold__Font {
    text-align: left;
  }
}
