.learningBox {
  padding: 5% 4%;
  /* border: 1px solid rgb(166, 21, 202); */
  background: rgba(190, 241, 149, 0.411);
}

.contentBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 1px solid red; */
  margin-top: 36px;
}
.contentTab {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.contentTabItem {
  background: #ffff;
  width: 116px;
  height: 34px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 5px;
}
.contentTabItemOnHover {
  background: #fc0;
  width: 116px;
  height: 34px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 5px;
  cursor: pointer;
}
.contentTabText {
  margin-top: 10px !important;
}
.mediaBox {
  margin-top: 25px;
}
.polygon {
  position: relative;
  top: 5px;
}
.polygonBlock {
  display: none;
}
.mediaCover {
  width: 360px;
  /* height: 512px; */
  background-image: url(../../Assets/images/Rectangle.png);
  background-repeat: no-repeat;
}
.media_Text {
  margin-top: 33px;
}
.media {
  width: 357px;
  padding: 33px 0px 10px 16px;
}
.bold_Font {
  font-family: Arial black !important;
}
@media only screen and (min-width: 600px) {
  .mediaBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0px 291px;
  }
  .bold_Font {
    font-family: Arial black !important;
  }
  .media_Text {
    padding: 42px 20px;
  }
  .contentTab {
    padding: 0px 282px;
  }
}
