.footer {
  background: #213144;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  color: #ffff;
}
.footerContent {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 90px 182px 45px 101px;
}
.footerText {
  display: flex;
  flex-direction: row;
}
.footerTextBoxItem {
  display: flex;
  flex-direction: column;
}
.footerBottomBox {
  display: flex;

  justify-content: center;
  padding: 15px 0px;
}
.footerBottomBoxContent {
  border-top: 1px solid rgba(196, 196, 196, 0.17);
  width: 78%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 40px;
  padding-top: 17px;
}

.MediaLinks img {
  margin: 0px 5px;
  cursor: pointer;
}
