.container {
  display: flex;
  flex-direction: column;
  padding: 5%;
}
.placementSubHeading {
  margin: 10px 0px !important;
}
.placementItems {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 40px;
}
.placementCompanyLogosBox {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 85px;
}
.placementCompanyLogosItems {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.placementCompanyLogosItem {
  width: 240px;
  height: 100px;
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(147, 147, 147, 0.25);
  border-radius: 5px;
  text-align: center;
  padding-top: 27px;
  margin: 0px 10px;
  cursor: pointer;
  transition: all 0.6s;
}
.placementCompanyLogosItemBlack {
  width: 240px;
  height: 100px;
  border-radius: 5px;
  text-align: center;
  padding-top: 27px;
  margin: 0px 10px;
  cursor: pointer;
  filter: grayscale(100%);
}
.archiveBox {
  /* border: 1px solid red; */
  width: 90%;
  height: 360px;
  /* float: right; */
  /* position: relative;
  right: 0vh; */
  margin-top: 30px;
  border-radius: 56px 0px 0px 0px;
  background-size: cover;
  background-image: url("../../Assets/images/AchivmentBg.png");
  padding: 82px;
  color: #ffff;
}
.banarBox {
  width: 100%;
  display: flex;
  justify-content: right;
}
.AchievementBackground {
  position: absolute;
  right: 0vh;
  margin-top: 96px;
  border-radius: 56px 0px 0px 0px;
}
.ForthBoxCardContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* text-align: center; */
  margin: 126px;
}
.cardBox {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.ForthBoxCard {
  width: 413px;
  height: 419px;
  padding: 23px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 5px 30px rgba(116, 116, 116, 0.25);
  border-radius: 5px;
  margin: 0px 16px;
  box-shadow: 0px 5px 30px rgba(116, 116, 116, 0.25);
  border-radius: 5px;
}
.profileBox {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-left: 32px;
}
.profilePhoto img {
  border-radius: 36px;
}
.profileInfo {
  padding: 14px 0px 0px 18px;
}
.TextBox {
  padding-left: 25px;
}
.cardFooter {
  height: 124px;
  background: #13488b;
  display: flex;
  flex-direction: row;
  border-radius: 0px 0px 5px 5px;
}
.footerInrBox {
  width: 50%;
  color: #ffff;
  padding: 16px 0px 0px 25px;
  display: flex;
  flex-direction: column;
}
.FooterSubText {
  text-align: left !important;
}
.footerCompanyLogo {
  width: 52%;
  margin-top: 6px;
}
